@import "../../../../constants/styles/colors";

.browseHome {
  background-color: #141414;
  height: auto;
  margin: -10px;
  // margin-top: -20px;
  padding: 20px 60px;
  @include mobile{
    padding:20px 35px;
  }
  padding-bottom: 200px;
  font-family: "Noto Sans", sans-serif;

  p {
    font-size: 19px;
    color: white;

  }
  img {
    cursor: pointer;
    @include mobile{
      width:330px;
      height:200px;
      justify-content: center;
      margin-bottom:10px ;
    }
  }
}
