@import "../../../../constants/styles/colors";

.Question{
    font-family: 'Noto Sans', sans-serif;
    h1{
        font-weight: 700;
        padding:30px 80px 0 80px;
        margin-bottom: 0;
        @include mobile{
            font-size: 20px;
            margin-bottom: 0;
            padding:10px 6px;
        }
    }
    h4{
        margin: 0;
    }
    img{
        width:852px;
        height:477px;
        @include mobile{
            width:362px;
            height:201px;
        }
    }
    ul{
        margin-left: -20px;
    }
    a{
        text-decoration: none;
        color: black;
        line-height: 30px;
        &:hover{
            text-decoration: underline;
            color:red;
        }
    }
    p{
        line-height: 26px;
        @include mobile{
            font-size: 14px;
        }
    }
    &Col{
    padding: 30px 80px;
        display: flex;
        @include mobile{
            padding:6px;
        }
    }
    h2{
        margin:30px 0;
    }
    .ctf24{
        padding: 0 5px;
    }

    strong{
        border-left: 3px solid red;
        font-size: 14px;
        height:30px;
        padding-left: 7px;
        span{
            font-weight: 500;
            padding-left: 5px;
        }
    }
    &Col2{
        @include mobile{
            display:none;
        }
    }
    &Col1{
        width:852px;
        margin-right: 80px;
        a{
            color:red;
            font-weight: 700;
        }
        .borderBottom{
            padding-bottom: 40px;
            border-bottom: 1px solid #888;
        }
        .h2BorderTop{
            border-top:1px solid #888;
            padding-top: 20px;
        }
    }
    .contact{
        width:auto;
        height: 100px;
        background-color: #eaeae6;
        margin:-10px;
        text-align: center;
        @include desktop{
            padding:0 80px;
            display:flex;
            justify-content: space-between;
        }
        @include mobile{
            height: auto;
            padding-bottom: 20px;
        }
        h2{
            @include mobile{
                font-size: 16px;
                padding-top: 20px;
            }
        }
        div{
            margin-top: 20px;
            .Button{
                border: 1px solid #888;
               text-decoration: none;
               color:black;
               text-transform: uppercase;
               font-weight: 700;
               padding:10px 17px;
               display: inline-block;
               color:#555;
               cursor:pointer;
               margin-bottom: 10px;
               background-color: #fff;
               margin-left: 20px;
               @include mobile{
                   font-size: 14px;
               }
               &:hover{
                   color:black
               }
       }
        }
    }
}